:root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --primary-black-color: #212121;
    --primary-white-color: #ffffff;
    --primary-accent-color: #2e2f42;
    --secondary-accent-color: #404bbf;
    --active-link-color: #404bbf;
    --logo-text-color: #4d5ae5;
    --span-text-color: #2e2f42;
    --address-text-color: #434455;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--primary-white-color);
}

.logo.link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-text-color);
    text-decoration: none;
}



.span-logo {
    color: var(--span-text-color);
}

.list {
    list-style: none;
}

.nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
    text-decoration: none;
    color: #2e2f42;
}

.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-accent-color);
    text-decoration: none
    background-color: #434455;
}

.link:hover,
.link:focus {
  color: var(--active-link-color);
}

.address {
    font-style: normal;

}

.addr.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-text-color);
    text-decoration: none;
}

.addr.link:hover,
.addr.link:focus {
   color: var(--active-link-color);
}

.section-one {
    background-color: var(--primary-accent-color);

}

.title-main {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button-order:hover,
.button-order:focus {
    background-color: var(--active-link-color);
}

.section-two {

}